<section>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="text-align: center;">
                <h1 style="font-family: cursive; font-weight: bold;">Favorites Films</h1>
                </br></br>
            </div>
                <table id="searchFilmsTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-1">ID</th>
                        <th class="col-md-2">Title</th>
                        <th class="col-md-2">Year</th>
                        <th >Description</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="film in randomFilmsController.user.favoritesList">
                            <td>{{film.id}}</td>
                            <td>{{film.title}}</td>
                            <td>{{film.year}}</td>
                            <td>{{film.simplePlot}}</td>
                            <td><a class="btn btn-success btn-sm" ng-click="randomFilmsController.getFilm(film.id)">Link</a></td>
                        </tr>
                        </li>
                    </tbody>
                </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" style="margin-left: 5px; margin-right: 5px;">
        <a class="btn btn-primary" href="/app" style="float: right;">Back</a>
    </div>
</section>